<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="layout.html" />

    <head>
        <title>Contacts</title>
    </head>

    <body>
        <div id="left">
        </div>
        <div id="right">
            For information about the survey and general community garden inquiries, contact Lenny Librizzi at llibrizzi [at] grownyc [dot] org.
            <br /><br />
            For inquiries about the website, contact Eric Brelsford (programming) or Mara Gittleman (data) at ebrelsford [at] gmail [dot] com or maragittleman [at] gmail [dot] com respectively.
        </div>
    </body>
</html>
