<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="layout.html" />

    <head>
        <title>Garden Survey</title>
    </head>

    <body>
        <div id="left">
        </div>
        <div id="right">
            Every few years, <a href="http://www.grownyc.org">GrowNYC</a> undertakes an effort to update citywide information about our community gardens. While the next update scheduled is yet to be determined, you may still enter information for your garden using the <a href="http://www.grownyc.org/survey">main survey site</a>. You will be able to choose between taking the survey online or printing a PDF to mail in.
        </div>
    </body>
</html>
