<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/" py:strip="">
    <py:match path="head" once="true">
        <head py:attrs="select('@*')">  
            <title py:with="title = list(select('title/text()'))">
                Garden Maps<py:if test="title">: ${title}</py:if>
            </title>           

            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

            <link type="text/css" rel="stylesheet" href="resources/css/style.css" />

            ${select('*[local-name()!="title"]')}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-21831100-2']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        </head>
    </py:match>
    <py:match path="body" once="true">
        <body py:attrs="select('@*')">
            <div id="header">
                <div id="logo">
                    <h1><img src="resources/img/logo.png" width="279" height="57" alt="Garden Maps Logo" /></h1>
                </div>
                <div id="nav">
                    <a href="index.html?help=no">Map</a>
                    <a href="about.html">About</a>
                    <a href="garden_survey.html">Survey</a>
                    <a href="start_garden.html">Join / Start a Garden</a>
                    <a href="contact.html">Contacts</a>
                </div>
            </div>

            <div id="content">
                ${select('*|text()')}
            </div>

            <div id="footer">
            </div>
        </body>
    </py:match>
</html>

